textarea {
  resize: none;
}

.past-hour {
  background-color: grey;
  border-color: black;
}

.present-hour {
  background-color: rgb(226, 76, 106);
  border-color: black;
}

.future-hour {
  background-color: rgb(45, 196, 45);
  border-color: black;
}

button {
  background-color: rgb(56, 128, 129);
  border-radius: 0px 5px 5px 0px;
}

header {
  border-bottom-width: 10px;
}

button {
  font-size: 2em;
}